body {
	text-align:center;
	margin-top:15%;
	background: url(../images/champions.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p {
	font-family: Arial, sans-serif;
}

p.yes {
	font-size:120pt;
	font-weight: bold;
	color: green;
}

p.no {
	font-size:120pt;
	font-weight: bold;
	color: red;
}

p.notyet {
	font-size:120pt;
	font-weight: bold;
	color: yellow;
}

p a {
	text-decoration: none;
	color: inherit;
}

#credit {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 200px;
	text-align: center;
	background-color: white;
}