.center {
	text-align: center;
	margin-top: 15%;
}

p {
	font-family: Arial, sans-serif;
}

p.yes {
	font-size: 120pt;
	font-weight: bold;
	color: green;
}

p.no {
	font-size: 120pt;
	font-weight: bold;
	color: red;
}

p.notyet {
	font-size: 120pt;
	font-weight: bold;
	color: yellow;
}

p a {
	text-decoration: none;
	color: inherit;
}

#credit {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 250px;
	text-align: center;
	background-color: white;
}

#share {
	text-align: center;
	width: 100px;
	margin: auto;
}