.center {
    text-align: center;
    margin-top: 15%;
}

p {
    font-family: Arial, sans-serif;
}

#result {
    font-size: 120pt;
    font-weight: bold;
}

.YES {
    color: green;
}

.NO {
    color: red;
}

.NOTYET {
    color: #e6e600;
}

p a {
    text-decoration: none;
    color: inherit;
}
